<%- include('../layout/header') %>

    <div class="col-md-12">
        <div class="row">

            <div class="col-md-3 col-lg-3 col-sm-6">
                <div class="admin-btn" id="btn-sync-images">
                    Sincronizar Imagens
                </div>

                <a class="admin-btn text-decoration-none" id="btn-register-rooms" href="/Room">Cadastrar salas de cinema</a>

                <a class="admin-btn text-decoration-none" id="btn-register-rooms" href="/Schedule">Cadastrar Horários</a>

            </div>

        </div>
    </div>





    <%- include('../layout/footer') %>