<%- include('../layout/header') %>

    <div class="container">
        <div class="row">
            <div class="col-md-12 p-5">
                <h5 class="display-5 text-light text-center">Cadastro de Salas de cinema</h5>

                <form method="POST" action="/Room/Create">

                    <div class="mb-3 mt-5 input-include">
                        <label for="identification" class="form-label text-light">Identificação da sala</label>
                        <input required type="text" class="form-control" id="identification" placeholder="Sala 1" name="identification">
                    </div>

                    <div class="mb-3 mt-4">
                        <label for="capacity" class="form-label text-light">Capacidade da sala</label>
                        <input required type="number" class="form-control" id="capacity" placeholder="100" name="capacity">
                    </div>

                    <div class="mb-3 mt-4">
                        <label for="selectMovieTheater" class="form-label text-light">Selecione o cinema da sala</label>
                        <select required id="selectMovieTheater" name="selectMovieTheater" class="form-select">
                            <% for (let index=0; index < movieTheater_list.length; index++) { const
                                movieTheater=movieTheater_list[index]; %>

                                <option value="<%=movieTheater.id%>">
                                    <%=movieTheater.nome%>
                                </option>

                                <%} %>

                        </select>
                    </div>


                    <button type="submit" id="btn-insert-room" class="btn btn-primary-purple mt-1">Confirmar</button>

                </form>


            </div>
        </div>
    </div>



    <%- include('../layout/footer') %>