<%- include('../layout/header') %>

    <div class="container bg-dark-grey-3">
        <div class="row">
            <div class="col-md-12 p-5">
                <h5 class="display-5 text-light text-center">Cadastro de Notícias</h5>

                <form method="post" id="news-insert" enctype="multipart/form-data">

                    <div class="mb-3 mt-5 input-include">
                        <label for="news-title" class="form-label text-light m-1">Titulo da notícia</label>
                        <input required type="text" class="form-control" id="news-title" placeholder="Título" name="news-title">
                    </div>


                    <div class="form-group">
                        <label for="content" class="m-1 text-light">Conteúdo</label>
                        <textarea required class="form-control text-area-custom" id="content" rows="5"></textarea>
                    </div>

                    <div class="mt-4">
                        <span class="text-light d-block mb-3">Onde sua notícia irá aparecer?</span>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-custom" type="radio" name="type" id="news-normal" value="0" checked>
                            <label class="form-check-label text-light" for="news-normal">Notícia normal</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-custom" type="radio" name="type" id="news-aside" value="1">
                            <label class="form-check-label text-light" for="news-aside">Notícia lateral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-custom" type="radio" name="type" id="news-primary" value="2">
                            <label class="form-check-label text-light" for="news-primary">Notícia principal</label>
                        </div>
                    </div>

                    <div class="input-group my-3 mt-4 d-flex align-items-center">
                        <div class="select-image me-3" id="preview" hidden>
                            <img id="preview-image" width="200" height="150" class="rounded-3" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22780%22%20height%3D%22270%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20780%20270%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18054b9f77c%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A39pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18054b9f77c%22%3E%3Crect%20width%3D%22780%22%20height%3D%22270%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22290.234375%22%20y%3D%22152.4%22%3E780x270%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                alt="Imagem selecionada">

                        </div>

                        <div class="custom-file">
                            <span class="text-light d-block mb-3">Insira a imagem</span>
                            <input type="file" class="custom-file-input file-custom-input text-light" name="newsImage" id="newsImage" accept="image/*">
                        </div>
                    </div>

                    <button type="button" id="btn-insert-news" class="btn btn-primary-purple mt-3 btn-lg">Inserir</button>

                    <button type="button" id="btn-clear-news" class="btn btn-warning mt-3 ms-2 btn-lg">Limpar</button>

                </form>


            </div>
        </div>
    </div>



    <%- include('../layout/footer') %>