
<%- include('../layout/header') %>

    <div class="container">
        <div class="row">
            <div class="col-md-12 p-5">
                <h5 class="display-5 text-light text-center">Cadastro de Funcionarios</h5>

                <form method="POST" action="/registration">

                    <div class="mb-3 mt-5 input-include">
                        <label for="identification" class="form-label text-light">Nome do funcionario</label>
                        <input required type="text" class="form-control" id="name" placeholder='"João da Silva"' name="name">
                    </div>

                    <div class="mb-3 mt-5 input-include">
                        <label for="identification" class="form-label text-light">E-mail</label>
                        <input required type="email" class="form-control" id="email" placeholder='"exemplo@exemplo.com"' name="email">
                    </div>
                    <div class="mb-3 mt-5 input-include">
                        <label for="identification" class="form-label text-light">Senha</label>
                        <input required type="password" class="form-control" id="password"  name="senha">
                    </div>
                    <div class="mb-3 mt-5 input-include">
                        <label for="identification" class="form-label text-light">Repita a senha</label>
                        <input required type="password" class="form-control" id="repsenha" name="repsenha">
                    </div>
                    

                    <button type="submit" id="btn-insert-room" class="btn btn-primary-purple mt-1">Confirmar</button>

                </form>


            </div>
        </div>
    </div>



    <%- include('../layout/footer') %>