<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>IGresso - Login</title>
        <link rel="stylesheet" type="text/css" href="../public/content/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../public/content/bootstrap/css/bootstrap.css.map">
        <link rel="stylesheet" type="text/css" href="../public/content/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../public/content/bootstrap/css/bootstrap.min.css.map">

        <style>
            body {
                background-color: rgb(66, 60, 70);
            }
            .center_form{
               margin-left: 30%;
                margin-top: 300px ;
            }
            
           
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div style="width: 35%;" class="center_form">
                    
                    
                    <form class="form-horizontal">
                        
                        <input style="color:rgb(221, 9, 185);border-color: rgb(221, 9, 185);background-color: rgb(66, 60, 70);" type="text" class="  form-control margintop" placeholder="e-mail" id="email" autocomplete="off"> <br>
                        <input style="color:rgb(221, 9, 185);border-color: rgb(221, 9, 185);background-color: rgb(66, 60, 70);" type="password" class=" form-control margintop" placeholder="Senha" id="pass" autocomplete="off"> <br>
                        <button type="button" class="btn btn-primary" style="margin-left: 26%; width: 50%; background-color:rgb(221, 9, 185); color:rgb(255, 255, 255)">entrar</button> 

                    </form> 
                    <br/>
                    <div style="margin-left: 20%">
                        <a style="color:rgb(221, 9, 185);">Não possue conta?</a><a id="register" href="" style="color: white;"> Cadastre-se</a>

                    </div>

                </div>
                
            </div>
            
            
        </div>
        
        
    </body>
</html>