<%- include('../layout/header') %>



 
<div class="col-md-12 movies-container">
    <div class="row">
        <input type="text" class="i-input-purple i-input-search-movie" placeholder="Pesquisar Filme" id="search_movie_test" name="search_movie_test">
    </div>
    <div class="row" id="movie_list">
        
    </div>
</div>
<script>
    $(()=>{
        loadMovies();
    });
</script>
<%- include('../layout/footer') %>