<%- include('../layout/header') %>

    <div class="container">
        <div class="row">
            <div class="col-md-12 p-5">
                <h5 class="display-5 text-light text-center">Cadastro de Salas de cinema</h5>

                <form method="POST" action="/">

                    <div class="mb-3 mt-4">
                        <label for="" class="form-label text-light">Dia </label>
                        <input required type="date" class="form-control" id="date" name="date">
                    </div>

                    <div class="mb-3 mt-4">
                        <label for="" class="form-label text-light">Horário</label>
                        <input required type="time" class="form-control" id="time" name="time">
                    </div>

                    <button type="submit" class="btn btn-primary-purple mt-1">Confirmar</button>
                </form>



            </div>

        </div>

    </div>




    <%- include('../layout/footer') %>